.my_nav{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 255, 255 / 87%) ;
    backdrop-filter: blur(10px) ;
}
.header-text-holder, .subscribr-holder{
    text-align: center;
    color: white;
}
.main-header{
    background-size: cover;
    background-image: url(../img/Banner.jpg);
    padding-top: 150px;
    padding-bottom:100px;
}
.btn{
    margin-left: 10px;
    margin-bottom: 10px;
}

.my_card h3{
    font-size: 1.2em;
}
.home-body-content, .default-body-content{
    padding-top: 50px;
    padding-bottom:50px ;
}
.default-body-content .list-group .list-group-item h3{
    font-size: 1.3em;
}
.home-body-content .my_card{
    margin-bottom: 25px;
    transition-duration: 0.4s;
}
.default-body-content .list-group a{
    color: black;
}
.my_card:hover{
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    transition-duration: 0.4s;
}
footer.main-footer{
    padding-top: 25px;
    padding-bottom: 25px;
    color: white;
    background-color: black;
}
footer.main-footer p{
    margin: 0px;
}

.default-header{
    background-size: cover;
    background-image: url(../img/Banner.jpg);
    padding-top:100px;
    padding-bottom:50px;
}
.default-header-text-holder{
    color: white;
}
.default-header-text-holder h1{
    font-size: 2em;
}